@charset "utf-8";


 * {
      margin: 0;
      padding: 0;
}

 body{
      background-color: blue;
}
 header{
      padding: 15px;
      text-align: center;
      background-color: yellow;
}
 section{
      padding: 15px;
      background-color: red;
}
 aside{
      padding: 15px;
      background-color: purple;
}
 footer{
      padding: 15px;
      text-align: center;
      background-color: green;
}

@media screen and (min-width:641px){
   aside{
      width: calc(50%-20px);
      float:left;
   }
#side:after{

      content:"";
      display:block;
      clear:both;
   }
}

@media screen and (min-width:1025px){
    #main{
      max-width: 1024px;
      margin: auto;
    }
    section{
      width: calc(70%-20px);
      float:left;
    }
    #side{
      width: calc(1024px-718px);
      float:left;
    }
    aside{
      width: calc(100%-20px);
    }
    #main:after{


      content:"";
      display:block;
      clear:both;
    }
}
